{% load static %}
<!DOCTYPE HTML>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="website description"/>
    <meta name="keywords" content="website keywords, website keywords"/>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252"/>
    <link rel="stylesheet" type="text/css" href="{% static 'appIW/style/style.css' %}"/>
</head>
<body>
    <div id="main">
        <div id="header">
            <div id ="logo"></div>
        </div>
        <div id="site_content">
        <div id="content">

            {% block contenido %}
                <h1>Información de la cordillera</h1>

                    {% if cordillera %}

                 <h2>{{cordillera.nombre}}</h2>
            <table>
                <tr>
                    <td>Nombre</td>
                    <td>Estado</td>
                    <td>Pistas abiertas</td>
                    <td>Pistas totales</td>
                    <td>Kilómetros esquiables</td>
                    <td>Kilómetros totales</td>
                    <td>Enlace</td>
                </tr>
                {% for e in estaciones %}
                <tr>
                    <td><a href="/estacion/{{e.id}}">{{e.nombre}}</a></td>
                    <td>{% if e.abierta == true %}
                        Abierta
                        {% else %}
                        Cerrada
                        {% endif %}
                    </td>
                    <td>{{e.nPistas}}</td>
                    <td>{{e.nPistasTotales}}</td>
                    <td>{{e.nKilometros}}</td>
                    <td>{{e.nKilometrosTotales}}</td>
                    <td>{{e.enlace}}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No existe esta cordillera</p>
            {% endif %}

            {% endblock %}
        </div>
    </div>
    </div>
</body>
</html>