<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estaciones</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
</head>
<body>
{% block contenido %}
<h2>Listado de Estacion</h2>
{% if listaEstacion %}
	<ul>
	{% for c in listaEstacion %}
		<li>
		    <a> {{c.nombre}}</a>
		</li>
	{% endfor %}
	</ul>
{% else %}
<p>No hay Estaciones creadas.</p>
{% endif %}
{% endblock %}


</body>
</html>