{% extends "plantilla.html"%}

{% block titulo %}SKI STICK{% endblock %}

{% block contenido %}
<h1>{{estacion}}</h1>
<p>Estación de esquí y snowboard, situada en {{ estacion.cordillera }}</p>
{% if estacion.abierta%}
        <p>La estación actualmente dispone de un total de {{ estacion.nPistas }} abiertas, con un total de
		{{ estacion.nKilometros }} kilçometros esquiables abiertos</p>
{% else %}
<p>La estacion se encuentra cerrada actualmente</p>
{% endif %}

<p><a href="{{ estacion.enlacePagina }}">Haga click aquí para acceder a la web de la estación</p>
        <!-- TODO centrar la tabla-->
        {% block pistas %}
        <h2>Listado de pistas de {{estacion}}</h2>
        	{% if listaPistas %}
		  	<table style="margin: 0 auto;">
				<tr>
					<td>Nombre</td>
				 	<td>Estado</td>
					<td>Dificultad</td>
					<td>Longitud</td>
			  	</tr>
			  	{% for p in listaPistas %}
			  <!--TODO hacer que saque solo las abiertas-->
			  <tr>
				  <td><a href="/pista/{{p.id}}">{{p.nombre}}</a></td>
				  <td>{% if p.abierta %}
					  Abierta
					  {% else %}
					  Cerrada
					  {% endif %}
				  </td>
				  <td>{{ p.dificultad }}</td>
				  <td>{{ p.longitud }}</td>
			  </tr>
			  {% endfor %}
		  	</table>
		  {% else %}
		  <p>No existe ninguna pista en {{estacion}}</p>
		  {% endif %}
{% endblock %}
{% endblock %}