
{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="website description"/>
    <meta name="keywords" content="website keywords, website keywords"/>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252"/>
    <link rel="stylesheet" type="text/css" href="{% static '/style/style.css' %}"/>
</head>
<body>
    <div id="main">
        <div id="header">
            <div id ="logo"></div>
        </div>
        <div id="site_content">
        <div id="content">

		{% block contenido %}
		<h1>Listado de pistas</h1>
		{% if estacion %}
			<ul>
			{% for p in pistas %}
				<li>
		   			 <a href="/pista/{{p.id}}">{{p.nombre}}</a>
				</li>
			{% endfor %}
			</ul>
		{% else %}
		<p>No hay pistas creadas.</p>
		{% endif %}
		{% endblock %}
		</div>
    	</div>
    </div>
</body>
</html>