{% load static %}
<!DOCTYPE HTML>

<html lang="en">
<head>

  <title>SKI STICK</title>
  <meta charset="UTF-8">
  <meta name="description" content="website description"/>
  <meta name="keywords" content="website keywords, website keywords"/>
  <meta http-equiv="content-type" content="text/html; charset=windows-1252"/>
  <link rel="stylesheet" type="text/css" href="{% static '/style/style.css' %}"/>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1>Ski <span class="logo_colour">Stick</span></h1>
          <h2><a href="https://www.fis-ski.com/en">Acceso a la Federación Internacional de Esquí</a></h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <!--TODO cambiar los nombres de las pestañas de la página-->
          <li class="selected"><a href="index.html">Inicio</a></li>
          <li><a href="examples.html">Examples</a></li>
          <li><a href="page.html">A Page</a></li>
          <li><a href="another_page.html">Another Page</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div class="sidebar">
        <h1>Latest News</h1>
        <h4>New Website Launched</h4>
        <h5>January 1st, 2010</h5>
        <p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        <h1>Useful Links</h1>
        <ul>
          <li><a href="#">link 1</a></li>
          <li><a href="#">link 2</a></li>
          <li><a href="#">link 3</a></li>
          <li><a href="#">link 4</a></li>
        </ul>
        <h1>Search</h1>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="appIW/style/search.png" alt="Search" title="Search" />
          </p>
        </form>
      </div>
      <div id="content">
        <!--TODO poner lo que queremos que se muestre en la página de inicio-->
        <h1>Bienvenido a Ski Stick</h1>
        <p align="justify">Somos el grupo IW-9, formado por los alumnos Aner Lekue Agra, Javier Gonzalez Sandoval, Mikel
          Giorgi Romero Bermejo y Roberto Martínez - Guisasola Guerrero. Los cuatro somos estudiantes de la universidad de Deusto
          y estamos desarrollando este proyecto para la asignatura de Ingeniería Web
        </p>
        <p>
          El proyecto está siendo desarrollado con el software <a href="https://www.jetbrains.com/pycharm/">Pycharm</a>
          , el cual nos permite combinar todos los recursos de HTML, CSS, JavaScript y jQuery, para así poder desarrollar
          una aplicación DJango
        </p>
        <p>
          Para navegar por la aplicación basta con usar el menú de navegación para acceder a la información deseada
        </p>
        <h1>Estaciones de esquí</h1>
        <p>A continuaci&oacute;n se muestran las diferentes cordilleras que poseen alguna estaci&oacute;n de esqu&iacute;</p>
        <!--TODO meter javaQuery para sacar la tabla de las estaciones por cordilleras-->
        <!--https://es.stackoverflow.com/questions/70206/como-incluir-html-en-otro-html-->
        <p>
        {% block cordilleras %}
        <h2>Listado de cordilleras</h2>
        {% if listaCordilleras %}
        <ul>
          {% for c in listaCordilleras %}
          <li>
            <a href="/cordillera/{{ c.id }}">{{ c.nombre}}</a>
            <!--TODO sacar las estaciones en funcion de las cordilleras-->
                <ul>
                  <li>

                  </li>
                </ul>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No hay cordilleras creadas.</p>
        {% endif %}
        {% endblock %}
      </div>
    </div>
    <div id="footer">
      <p><a href="index.html">Home</a> | <a href="examples.html">Examples</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="contact.html">Contact Us</a></p>
      <p>Copyright &copy; night_sky | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
    </div>
  </div>
</body>
</html>
