{% extends "plantilla.html"%}

{% block titulo %}SKI STICK{% endblock %}

{% block javascript %}
<script type="text/javascript" src="js/scriptCordilleras.js"></script>
{% endblock %}

{% block contenido %}
<h1>Bienvenido a Ski Stick</h1>
<p align="justify">Somos el grupo IW-9, formado por los alumnos Aner Lekue Agra, Javier Gonzalez Sandoval, Mikel Giorgi
    Romero Bermejo y Roberto Martínez - Guisasola Guerrero. Los cuatro somos estudiantes de la universidad de Deusto y
    estamos desarrollando este proyecto para la asignatura de Ingeniería Web
</p>
<p align="justify">El proyecto está siendo desarrollado con el software <a href="https://www.jetbrains.com/pycharm/">Pycharm</a>
    , el cual nos permite combinar todos los recursos de HTML, CSS, JavaScript y jQuery, para así poder desarrollar una
    aplicación DJango
</p>
<p align="justify">Para navegar por la aplicación basta con usar el menú de navegación para acceder a la información deseada</p>
        <h1>Estaciones de esquí</h1>
        <p>A continuaci&oacute;n se muestran las diferentes cordilleras que poseen alguna estaci&oacute;n de esqu&iacute;</p>
        <!--https://es.stackoverflow.com/questions/70206/como-incluir-html-en-otro-html-->
        <p>
        {% block cordilleras %}
        <h2>Listado de cordilleras</h2>
        {% if listaCordilleras %}
          {% for c in listaCordilleras %}
            <!--TODO hacer que oculte las tablas de cada cordillera como en los GinTonics-->
            <h3 name="item1">{{c.nombre}}</h3>
            <a href="/cordillera/{{ c.id }}" >Ver cordillera</a>
            {% if listaEstaciones %}
                <div id="item1body">
                <table>
                    <tr>
                      <td>Nombre</td>
                      <td>Estado</td>
                      <td>Pistas abiertas</td>
                      <td>Pistas totales</td>
                      <td>Kilómetros esquiables</td>
                      <td>Kilómetros totales</td>
                      <td>Enlace</td>
                    </tr>
              {% for e in listaEstaciones %}
                {% if e.cordillera == c %}
                  <tr>
                    <td><a href="/estacion/{{e.id}}">{{e.nombre}}</a></td>
                    <td>{% if e.abierta %}
                      Abierta
                      {% else %}
                      Cerrada
                      {% endif %}
                    </td>
                    <td>{{e.nPistas}}</td>
                    <td>{{e.nPistasTotales}}</td>
                    <td>{{e.nKilometros}}</td>
                    <td>{{e.nKilometrosTotales}}</td>
                    <td><a href="{{ e.enlacePagina }}">Web oficial</td>
                  </tr>
                {% else %}
                {% endif %}
              {% endfor %}
              </table>
            {% else %}
            <p>No hay estaciones</p>
            {% endif %}
          {% endfor %}
        {% else %}
        <p>No hay cordilleras creadas.</p>
        {% endif %}
        {% endblock %}
{% endblock %}