<!DOCTYPE HTML>
<html>

<head>
    <title>{% block titulo %}Plantilla Ejemplo{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="website description"/>
    <meta name="keywords" content="website keywords, website keywords"/>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252"/>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="shortcut icon" href="/static/style/logoTitulo.jpg">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    {% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/style/style.css' %}"/>
    {% endblock %}
    {% block javascript %}

    {% endblock %}
</head>

<body>
<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <h1>Ski <span class="logo_colour">Stick</span></h1>
                <h2><a href="https://www.fis-ski.com/en">Acceso a la Federación Internacional de Esquí</a></h2>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                {% block menu %}
                <li><a href="/index">Inicio</a></li>
                <li><a href="/cordilleras">Cordilleras</a></li>
                <li><a href="/estaciones">Estaciones</a></li>
                <li><a href="/pistas">Pistas</a></li>
                <li><a href="/contacto">Contacto</a></li>
                {% endblock %}
            </ul>
        </div>
    </div>
    <div id="site_content">
        <div class="sidebar">
            <h1>Creadores</h1>
            <ul>
                <li>Roberto Martínez - Guisasola Guerrero</li>
                <li>Mikel Georgi Romero Bermejo</li>
                <li>Aner Lekue Agra</li>
                <li>Javier Gonzalez Sandoval</li>
            </ul>
            <h1>Búsqueda</h1>
            <form method="post" action="#" id="search_form">
                <p>
                    <input class="search" type="text" name="search_field" value="Palabras clave" />
                    <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="{% static '/style/search.png' %}" alt="Search" title="Search" />
                </p>
            </form>
        </div>
        <div id="content">
            {% block contenido %}{% endblock %}
        </div>
    </div>
    <div id="footer">
        <p><a href="/index">Home</a> | <a href="examples.html">Examples</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="contact.html">Contact Us</a></p>
        <p>Copyright &copy; night_sky | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
    </div>
</div>
</body>
</html>
